<footer>
     <div class="container footer">
            <div class="row">
                <div class="col-12 col-lg-12 "> 
                   <a href="https://adoring-babbage-8c5bec.netlify.com/" style="text-decoration:none"><p class="pf">This Website is Developed and maintained By Deepak Malik </p></a> 
                </div>
            </div>
        </div>
        </footer>
