<footer class="footer">
      <div class="container">
          <div class="row">
        <div class="col-4 col-lg-4 center ">
               <a href="/blogs">blogs</a>
        </div>
        <div class="col-4 col-lg-4 center">
             <a href="/about">About us</a>
        </div>
         <div class="col-4 col-lg-4 center">
             <a href="#">© version 1.0.0</a>
        </div>
      </div>
         </div>
    </footer>