<footer>
     <div class="container footer">
            <div class="row">
                <div class="col-12 col-lg-12 ">
                    <p class="pf">This Website is Developed and maintained By Deepak Malik</p>
                </div>
            </div>
        </div>
        </footer>
