
  
  
  code {
    font-size: 80%;
  }

  .center{
      text-align: center
  }

  .float{
position:fixed;
bottom:80px;
right:40px;
text-align:center;
z-index: 99;
background-color:#0C9;
color:#FFF;
border-radius:50px;
width:60px;
height:60px;
display:block;
max-width:100%
}

.my-float{
	margin-top:22px;
}
.icons{
  top:50%;

}

#delete-form{
  display: inline;
}

@media(max-width:480px){
         .singleblog{
           width: 20rem;
         }
}
.singleblog{
  width: 50rem;
}