
  
  .code {
    font-size: 80%;
  }

  .center{
      text-align: center
  }

.float{
position:fixed;
bottom:10px;
right:40px;
text-align:center;
z-index: 99;
background-color:#0C9;
color:#FFF;
border-radius:50px;
width:60px;
height:60px;
display:block;
max-width:100%
}

.my-float{
	margin-top:22px;
}
.icons{
  top:50%;

}

#delete-form{
  display: inline;
}

@media(max-width:480px){
         .singleblog{
           width: 20rem;
         }
         .float{
           right: 10px;
         }
}
.singleblog{
  width: 50rem;
}
body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
 
}
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: red;
  background-color: black;
}
.pf{
  color: red;
}
html {
  height: 100%;
  box-sizing: border-box;
}
.hover-card{
  display:inline-block;
  position: relative;
  transition: all .2s ease-in-out;
  transform: scale(1); 
}
.hover-card:hover{
    z-index: 2;
    border: 2px solid red;
    transform: scale(1.1);
}
.background {
position: absolute; 
  top: 0;
  left: 0;
  z-index: 0;
}
.jumbo {
  position: relative;
  background-color: black;
}
.form{
  position: relative;
}
.dashboard{
 position: relative;
}
.dash-status{
  color: #FFF;
}