<h1>Jat-Boy Welcome you!!</h1>
<p>Welcome to Blog-O9</p>
<p>Post blogs from the best and worst expierences from your life</p>
<a href="/auth/google" class="btn red darken-1"><i class="fa ga-google left"></i>Google++</a>